__pycache__/
*.py[cod]
*$py.class
*.so

env/
venv/
.venv/
.env
.env.*
*.env

.pytest_cache/
.mypy_cache/
.cache/
.local/
.pyre/
dmypy.json

.coverage
.coverage.*
htmlcov/

build/
dist/
.eggs/
*.egg-info/
*.egg
pip-log.txt
pip-delete-this-directory.txt

logs/
*.log

.DS_Store
.idea/

*.sqlite3
*.db
data/*

temp/

node_modules/

static/index.html.bak

script/stock*
script/*.zip
